.container {
  display: flex;
  gap: 5%;
  max-width: 90rem;
  width: calc(100% - 80px);
  margin: 0 auto;
  padding: 0 8px;
}

@media (max-width: 80em) {
  .container {
    flex-wrap: wrap;
  }

  .aside {
    width: 100%;
  }
}
